html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fullscreen {
    max-height: inherit;
    min-height: calc(100vh - 72px);
    min-width: 100vw !important;
    padding-bottom: 0 !important;
}

h1, h2 {
    font-weight: 400;
}

nav .mat-ink-bar {
    top: 0 !important;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    /* place-items: center; */
}

.card {
    border-radius: 8px;
    /* width: 200px; */
    background-color: #F0F0F0;
    padding: 10px;
    cursor: pointer;
}

.actions {
    text-align: center;
}

.actions button {
    margin: 5px 10px;
}

@media screen and (min-width: 768px) {
    .card-list {
        grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    }

    .card {
        width: 300px;
    }
}