<mat-toolbar color = 'primary'>
  <button mat-flat-button routerLink = '/' color = 'primary' style = 'font-size: 24px;'>{{title}}</button>
  <span style = 'flex: 1 1'></span>
  <nav *ngIf = 'largeScreen$ | async'>
    <button mat-flat-button color = 'primary' routerLink = '/'>Home</button>
    <button mat-flat-button color = 'primary' (click) = 'scroll(".introduction")'>Intro</button>
    <button mat-flat-button color = 'primary' (click) = 'scroll("#section")'>Services</button>
    <button mat-flat-button color = 'primary' (click) = 'scroll("#articles")'>Articles</button>
    <!-- <button mat-flat-button color = 'primary' routerLink = '/projects'>Projects</button> -->
  </nav>
  <div class="socials">
    <a href="https://twitter.com/QarunQB" target="_blank">
      <img src="assets/twitter-icon.png" alt="">
    </a>
    <a href="https://github.com/Qarun-Qadir-Bissoondial" target="_blank">
      <img src="assets/github-icon.png" alt="">
    </a>
    
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
