// spacing

.padding-sm { padding: 8px; }
.padding-med { padding: 16px; } 
.padding-lg { padding: 24px; }

.margin-sm { margin: 4px; }
.margin-med { margin: 8px; }
.margin-lg { margin: 16px; }

// text 
.center { text-align: center; }