<section class="introduction page-spacing">

    <div class="img-title">
        <img src="assets/me.jpg" alt="A picture of Qarun Qadir Bissoondial">        
    </div>

    <div class="desc">
        <h2 class = 'mat-display-1' style = 'margin-bottom: 0'>Qarun Qadir Bissoondial</h2>
        <h2 class = 'mat-h2' style = 'margin-bottom: 0; margin-top: 8px'>Full-stack Web Developer</h2>
        <div class="skills">
            <span>JAVASCRIPT</span>
            <span>ANGULAR</span>
            <span>EXPRESS</span>
            <span>FIREBASE</span>
            <span>DOCKER</span>
        </div>

        <!-- <div class="bounce" [ngxScrollTo] = 'skillSection'>
            <button mat-mini-fab color = 'primary'>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div> -->
    </div>
    
</section>

<!-- <section class="skills section-spacer" #skillSection>
    <p>hee hee</p>
</section> -->
