@import '../../common.scss';

.introduction {
    .img-title {
        text-align: center;

        img {
            border-radius: 50%;
            max-width: 200px;
            margin: 0 auto;
        }
    }

    .desc {
        h2, p { text-align: center; }
        h2 { font-weight: 500; }
        p { margin-bottom: 28px; padding: 0 10vw; }
    }

    .actions > * {
        display: block;
        @extend .marg-med;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
    }
}

@media screen and (min-width: 768px) {
    .introduction {
        display: flex;
        flex-direction: row-reverse;
        padding: 40px 5vw;
        justify-content: space-between;
        align-items: center;

        .desc {
            max-width: 40vw;

            h2, p { text-align: left; padding: 0; }
        }

        img {
            min-width: 250px;
        }

        .actions {
            display: flex;
            justify-content: space-around;

            button {
                margin-left: 0;
                margin-right: 0;
                width: 100px;   
            }
        }
        
    }
}