<section class="introduction page-spacing">

    <div class="img-title">
        <img src="assets/me.jpg" alt="A picture of Qarun Qadir Bissoondial">        
    </div>

    <div class="desc">
        <h2 class = 'mat-display-1'>Qarun Qadir Bissoondial</h2>
        <p class = 'mat-body'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident voluptate veniam atque vero porro sunt consequatur saepe ducimus impedit facere aliquam accusantium veritatis error, laudantium modi adipisci nesciunt quaerat non!</p>

        <!-- <div class="actions">
            <button mat-flat-button color = 'primary'>Projects</button>
            <button mat-flat-button color = 'primary'>Experience</button>
            <button mat-flat-button color = 'primary'>Articles</button>
        </div> -->
        <div class="bounce">
            <button mat-mini-fab color = 'primary'>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>
    </div>
    
</section>
