@import '../../common.scss';

.page-spacing {
    padding: 0 5vw;
}

.page-margin {
    margin: 0 5vw;
}

.introduction {
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
    height: calc(100vh - 26px);
    margin-top: -30px;

    .img-title {
        display: flex;
        justify-content: center;

        img {
            border-radius: 50%;
            max-width: 200px;
        }
    }

    .desc {
        position: relative;

        h2, p { text-align: center }
        h2 { font-weight: 500; @extend .marg-lg; }
        p { margin-bottom: 28px; padding: 0 10vw; }

        .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-weight: 500;
           

            span {
                margin-top: 10px;
                padding: 10px;
                border-right: 1px solid #ccc;
            }

            span:last-child {
                border: 0;
            }

        }
    }
}

.bounce {
    position: absolute;
    left: calc(50% - 20px);
    bottom: -75px;
    animation: bounce 1.5s cubic-bezier(0.72, 0.18, 0.25, 0.79) 0s infinite forwards;
}

@keyframes bounce {
    0% { bottom: -75px }
    50% { bottom: -60px }
    100% { bottom: -75px; }
}

@media screen and (min-width: 768px) {
    .page-spacing {
        padding: 0 15vw;
    }

    .introduction {
        height: calc(100vh - 104px);
        margin-top: 0;

        .desc {
            max-width: 50vw;
            h2, p { padding: 0; margin-left: 0; margin-right: 0;;}
        }

        img {
            min-width: 250px;
            max-width: 300px;
        }

        // .actions {
        //     display: flex;
        //     justify-content: spac font-weight: 600;

        //     button {
        //         margin-left: 0;
        //         margin-right: 0;
        //         width: 100px;   
        //     }
        // }
        
    }
}