<!-- 
    Home page will consist the following sections:
    - Introduction
    - Actions
    - Footer
-->

<section class="introduction">

    <div class="img-title padding-med">
        <img src="assets/me.jpg" alt="A picture of Qarun Qadir Bissoondial">        
    </div>

    <div class="desc center">
        <h2>Qarun Qadir Bissoondial</h2>
        <p>Lorem Ipsum yada yada yada</p>

        <div class="actions">
            <button mat-raised-button color = 'primary'>Skills</button>
            <button mat-raised-button color = 'primary'>Projects</button>
            <button mat-raised-button color = 'primary'>Experience</button>
        </div>
    </div>

</section>

